#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

IDD_MAIN DIALOG DISCARDABLE  0, 0, 350, 156
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Coroutine Toy"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "Click a Demo to Launch", IDC_STATIC, 100, 10, 100, 16
    PUSHBUTTON      "&Choose Your Own Adventure",IDC_ADVENTURE,10,30,100,100
    PUSHBUTTON      "&Snakes",IDC_SNAKES,125,30,100,100
    PUSHBUTTON      "&TBD",IDC_TBD,240,30,100,100
END


#endif    // English (U.S.) resources
